# arquivos do intellij
backend/*.iml
backend/.idea/
backend/*.ipr
backend/*.iws

# arquivos do maven
backend/target/

# arquivos do ambiente
backend/src/main/resources/application.yml
backend/src/main/resources/application-dev.yml
backend/src/main/resources/application-prod.yml
backend/.env
.env

#logs
*.log
*.tmp
*.bak
*.swp


